.content__introduce {
  margin-top: 15px;
  box-sizing: border-box !important;
  margin-bottom: 10px;
}
.content__introduce-nav {
  margin-bottom: 30px;
}
.content__introduce-nav ol {
  background-color: #170240 !important;
  padding-left: 10px;
}
.content__introduce-nav ol li {
  font-size: 16px;
  font-weight: 600;
}
.content__introduce-nav-link:hover {
  color: #8869e4 !important;
}

.content__introduce-list {
  margin-bottom: 20px;
}
.list-item {
  margin-bottom: 10px;
}
.list-item p {
  margin: 0px !important;
  text-align: justify;
  color: #c0c0c0 !important;
}

.list-item i {
  font-size: 70px;
  margin-bottom: 10px;
  color: #c0c0c0;
}
